.page {
    margin: 0;
    padding: 0;
    background-color: #F9E6D5;
}

.text {
    font-weight: 600;
    color: #b74738;
}

.text__title {
    color: #b74738;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
}

.header {
    margin: 0;
}

.header__title {
    padding: 200px auto 0;
    text-align: center;
    color: rgb(176, 240, 113);
}

.header__block {
    background-image: url(./image/header.jpg);
    background-position: center center;
    background-size: cover;
    width: 100vw;
    height: auto;
    height: 400px;
}

.header__image {
    width: 100vw;
    height: 100%;
}

.apologies {
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    margin: 0 15px;
}

.apologies__image {
    width: 380px;
    margin: 0 auto;
}

.apologies__title {

    color: rgb(252, 8, 24);
    text-align: center;
    margin: 0 auto 10px;
}

.apologies__text {

}