.header__block{
    height: 400px;
}
.header__image{
        /* background-image: url(./image/header.jpg); */
        background-repeat: no-repeat;
        object-fit: cover;
        width: 100vw;
        height: 100%;
}
